<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSpokenName</key>
	<string></string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
			<key>iCloud.com.yourdomain.Orbital</key>
			<dict>
					<key>NSUbiquitousContainerIsDocumentScopePublic</key>
					<true/>
					<key>NSUbiquitousContainerName</key>
					<string>Orbital</string>
					<key>NSUbiquitousContainerSupportedFolderLevels</key>
					<string>ANY</string>
			</dict>
	</dict>
</dict>
</plist>
